body#en{

	#main-navigation .navbar{

	}
	#main-navigation .navbar-transparent{
		background-color: transparent !important;
		padding-top: 3rem;
		padding-bottom: 0rem;
		transition: all 300ms ease;
	}

	#main-navigation .navbar-dark{
		background-color: #fff !important;
		background-color: transparent !important;
	    padding-top: 1rem;
	    padding-bottom: 1rem;
		-webkit-backdrop-filter: blur(2rem);
		backdrop-filter: blur(2rem);
		transition: all 300ms ease;
	}

	#main-navigation .navbar-transparent .nav-link{
		color: #fff;
		transition: all 300ms ease;
	}

	#main-navigation .navbar-dark .nav-link{
		color: #000;
		transition: all 300ms ease;
	}


	#main-navigation .nav-link{
		font-weight:600;
		font-size: 20px;
	}

	#main-navigation .nav-link:hover{
		color: #ff0000;
	}

	#main-navigation .nav-pad{
		padding: 8px 3rem;
	}

	#main-navigation .nav-pad-lang{
		padding-left: 3rem;
	}

	#main-navigation .logo-hide{
		opacity:0;
		position: absolute;
		top: -50%;
		// max-width: 100%;
		transition: all 300ms ease;
	}
	#main-navigation .logo-show{
		opacity:1;
		position: unset;
		top: 0%;	
		// max-width: 60%;
		transition: all 300ms ease;
	}

	#main-navigation-mobile{

		.mobile-navbar{
			position: fixed;
			z-index: 2;
			width: 95%;
			padding-top: 0.5rem;
		}

		.btn-menu{}

		.nav-logo-mobile{max-width: 2rem;}

	}

} 

