html,body{}
html{scroll-behavior: smooth;}
body{
	font-family: "Lato";
}
a{
	color: #656565;
	text-decoration:none;
	font-size: 16px;
	transition: all 300ms ease;
}
a:hover{
	color: #ff0000;
}
p{font-size: 16px;}
div{font-size: 16px;}
section{font-size: 16px;}
ul{font-size: 16px;}
ul>li{font-size: 16px;}


h1,h2,h3,h4,h5,h6{
	line-height: 1;
	font-weight: bolder;
}

.fnt-trans{
	font-family: "Cairo" !important;
/*	direction:rtl;
	display:block;*/
}

.bg-white{background-color: #fff;}
.bg-black{background-color: #000;}
.bg-orange{background-color: #EB644C;}
.bg-beige{background-color: #FFE1DC;}


.spacer-5{display: block; height: 5px;}
.spacer-10{display: block; height: 10px;}
.spacer-20{display: block; height: 20px;}
.spacer-40{display: block; height: 40px;}
.spacer-60{display: block; height: 60px;}
.spacer-80{display: block; height: 80px;}
.spacer-100{display: block; height: 100px;}
.spacer-120{display: block; height: 120px;}


.fnt-10{font-size: 10px !important;}
.fnt-12{font-size: 12px !important;}
.fnt-15{font-size: 15px !important;}
.fnt-18{font-size: 18px !important;}
.fnt-20{font-size: 20px !important;}
.fnt-25{font-size: 25px !important;}
.fnt-30{font-size: 30px !important;}
.fnt-40{font-size: 40px !important;}
.fnt-50{font-size: 50px !important;}
.fnt-60{font-size: 60px !important;}
.fnt-70{font-size: 70px !important;}
.fnt-80{font-size: 80px !important;}
.fnt-100{font-size: 100px !important;}


.fnt-banner-title{
	font-size: 100px;
	font-weight: 800;
	line-height: 1;
}

.fnt-banner-caption{
	font-size: 30px;
	font-weight: 300;
	line-height: 1;
}

.fnt-black{color: #000;}
.fnt-white{color: #fff}
.fnt-orange{color: #EB644C;}
.fnt-light-gray{color: #C0C6D0;}
.fnt-drk-blue{color:#1F2E41;}



.fnt-allCaps{text-transform: uppercase;}
.fnt-extraBold{font-weight: bolder;}
.fnt-bold{font-weight: bold;}
.fnt-w300{font-weight: 300;}
.fnt-w500{font-weight:500;}
.fnt-w600{font-weight:600;}
.fnt-w700{font-weight:700;}
.fnt-w800{font-weight:800;}


.remMar{margin: 0px !important;}
.remPad{padding: 0px !important}
.allCaps{text-transform: uppercase;}


.fa-mar-right{margin-right: 5px;}
.fa-mar-left{margin-left: 5px;}
.fa-mar-right-20{margin-right: 20px;}
.fa-mar-left-20{margin-left: 20px;}

.hideThis{display: none !important;}

.vh-100{height: 100vh;}
.vh-50{height: 50vh;}
.vh-25{height: 25vh;}

.posRel{position: relative;}
.posAbs{position: absolute;}

/*banner*/
.banner-media{
	position:relative;
}
.banner-caption{
	position:absolute;
	width: 100%;
	color: #fff;
	top: 11%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.banner-caption h2{
	font-size: 100px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 1rem;
}
.banner-subtitle{

	font-size: 32px;
	line-height: 1;
}

.banner-media-page{
	position:relative;
}
.banner-caption-page{
	position:absolute;
	width: 100%;
	color: #fff;
	top: 21%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.banner-caption-page h2{
	font-size: 100px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 1rem;
}
.banner-subtitle-page{
	font-size: 32px;
	line-height: 1;
}

button.btn-dark-dl{
    padding: 0.5rem 5rem;
    border-radius: 20px;
    font-size:20px;
}

.btn-orange{
	background-color:#EB644C !important;
	color: #fff !important;
	transition: all 300ms ease;
}

.btn-orange:hover{
	background-color:#d35640 !important;
	color: #fff !important;
}


.logo-colored-footer{
    max-width: 5rem;
}
.ft-title{
	color: #EB644C;
    font-size: 20px;
}
footer ul{
	padding:0px;
}
footer ul>li{}
footer a.nav-link,
footer p{
	text-decoration:none;
	color: #bebebe;
	font-size:18px;
}

.socialMedia a{
	text-decoration:none;
	color: #293242;
    padding-right: 20px;
}

.socialMedia a .svg-inline--fa{height: 25px;}

.socialMedia a:hover{}

.card-caption h2{
	font-size: 85px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #EB644C;
}

.card-subtitle{
	color: #263244 !important;
	font-size: 32px;
	line-height: 1;
}

.capAnim{
	opacity: 0;
	position: absolute;
	top: 100%;
	transition: all 300ms ease;
} 
.capAnim-show{
	opacity: 1;
	position: unset;
	top: 0;
	transition: all 300ms ease;
} 

#shariahSection{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bannerCover{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.logo-white{max-width: 60% !important;}

/*bootstrap alter*/

.container{max-width: 1600px;}


